.container{
    display: flex;
    flex-direction: row; /* row por defecto*/
    flex-wrap: wrap; /*Los elementos saltan de linea*/

    /*Alinear elementos dentro de un contenedor*/
    /*justify-content: flex-start, flex-end, center, 
    space-beteween, apace-around*/
    justify-content: center;
    

    /*Alinear intems en el eje cruzado*/
    align-items: flex-start;

    /*Alinear cuando hay más de un linea de items*/
    align-content: stretch;
}

.elementos{
    width: 200px;
    height: 50px;
    border: 1px solid red;
    text-align: center;
    /* flex-grow: 1; 0 por defecto*/
    /*flex-shrink: 1px;*/
    /*flex-basis: 150px;*/ /*Anchura minima como min width/*/
}
.elementos:last-child{
    order: -3; /*Cambiar el orden de los elementos */
}
.elementos:first-child{
    align-self: flex-end;
}
/*-----------ALING GRID-----------*/
.container-to{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.elementos-to{
    width: 200px;
    height:200px;
    border: 1px solid rgb(51, 255, 0);
    text-align: center;
    float: left;
}
/*------------ALING ITEMS CENTER---------------*/
.container-t1{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(51, 255, 0);
}
.elementos-t1{
    width: 100px;
    height:100px;
    border: 1px solid rgb(51, 255, 0);
    text-align: center;
}
/*----------------EXAMPLE Button-------------------*/
.form{
    display: flex;
    width: 500px;
    border-radius: 30px;
}
.campo{
    background: #ffffff;
    flex: 1;
}
.boot{
    background: green;
    color: #ffffff;
}
/*Practica flex-box*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.articlebox{
    margin-top: 100px;
    display: flex;
    height: 100vh;
    flex-flow: column;
    font-size: 20px;
}
.header{
    outline: 1pz solid gold;
    height: 3rem;
}
.menu{
    display: flex;
}
.menu-item{
    list-style: none;
    flex: 1;
    outline: 1px solid cyan;
    line-height: 3rem;
    text-align: center;
    transition: flex .5s;
}
.menu-item:hover{
    flex:8;
}
.containers{
    display: flex;
    height: inherit; /*Heredeade su pader la altura*/

}
.content{
    outline: 1px solid cyan;
    /*flex: flex-grow fglex-shrink flex-basis*/
    flex: 1 /*1 1 auto;*/

}
.aside{
    outline: 1px solid magenta;
    /*flex: flex-grow fglex-shrink flex-basis*/
    flex: 0 0 25%; /*flex-grow fglex-shrink flex-basis*/

}
.footer{
    outline: 1px soli salmon;
    height: 6rem;
    /*Hasta Abajo margin-top: auto;*/
    margin-top: auto; /* Mandar al footer hasta Abajo*/
}
