div{
    width: 100px;
    height: 100px;
    background: #ff3333;
    border: 1px solid #ffffff;
}
/*Scale*/
div.scale1:hover{
    transform: scale(.5);
}
div.scale2:hover{
    transform: scaleX(.5);
}
div.scale3:hover{
    transform: scaleY(1.5);
}
/*Rotate*/
div.rotate1:hover{
    transform: rotate(45deg);
}
div.rotate2:hover{
    transform: rotate(-45deg);
    transform-origin: top left;
}
/*Translate*/
div.translate1:hover{
    transform: translate(10%,5%);
}
div.translate2:hover{
    transform: translate(-20px);
}
div.translate3:hover{
    transform: translate(3em);
}
/*Skew*/
div.skew1:hover{
    transform: skewX(20deg);
}
div.skew2:hover{
    transform: skewY(20deg) scale(0.8);
    transform-origin: top left;
}
/*Transition*/
.time{
    transition: 2s all linear ;
}
.transition1:hover{
    transform: scale(.5);
    background: crimson;
}
.transition2:hover{
    background: rgb(85, 218, 129);
}
.transition3:hover{
    transform: rotate(36deg);
}
/*Animacion*/
@keyframes animate1{
    form{
        transform: rotate(0);
    }to{
        transform: rotate(360deg);
    }
}
.animate1{
    animation: animate1 2s infinite linear;
}
.animate2{
    animation: animate1 1s infinite ease-in-out alternate;
}
.animate3{
    animation: animate1 30ms infinite ease-in-out;
}
@keyframes animates2{
    form{
        width: 50px;
        height: 50px;
    }to{
        width: 200px;
        height: 200px;
    }
}
.animate4{
    animation: animates2 1s infinite;
}
/*Box Shadow animation*/

.animate5 a{
    font-size: 30px;
    border-radius: 30px;
    border: solid 2px #1dc20e;
    padding: 5px 10px;
    background: rgb(43, 224, 179);
    color: #948080;
    text-decoration: none;
}

@keyframes pulses{
    form{ box-shadow: 0 0 10px 1px #1dc20e;}
    to{box-shadow: 0 0 25px 5px #1dc20e;}
}
.animate5 a:hover{
    animation: pulses 1s infinite alternate;
}

@keyframes shakes{
   0%{transform:translateX(0);}
   1%, 3%, 5%{transform:translateX(30px);}
   2%, 4%, 6%{transform:translateX(-30px);}
   7%{transform:translateX(0);}
}

.animate6{
    margin: 20px;
    animation: shakes 1s infinite;
}

@keyframes  hinge{
    0% {-webkit-transform: rotate(0); -webkit-transform-origin: top left;}
    20%, 60% { -webkit-transform: rotate(80deg); -webkit-transform-origin: top left;}
    40%{ -webkit-transform: rotate(60deg); -webkit-transform-origin: top left;}
    80%{ -webkit-transform:rotate(60deg) translateY(0); 
    opacity: 1; -webkit-transform-origin: top left;}
    100%{ -webkit-transform: translateY(700px); opacity: 0;}
}
.animate7{
    animation: hinge 1s ease-in-out;
}
