*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }
.individual{
    width: 270px;
}

.img{
    width: 100%;
    height: 250px;
}
.b-rojo{
    background-color: red;
}
.b-naranja{
    background-color: orange;
}
.b-amarillo{
    background-color: yellow;
}
.b-verde{
    background-color: green;
}
.b-cafe{
    background-color: brown;
}
.t-rojo{
    color: red;
}
.t-anaranjado{
    color: orange;
}
.t-amarillo{ 
    color: yellow;
}
.t-verde{
    color: green;
}
.t-cafe{
    color: brown;
}
.menu-body{
    padding: 10px 10px 30px 10px;
}
.menu-body h3{
    color: orange;
    margin: 5px 0px ;
}
.menu-body p{
    margin-bottom:10px ;
}
.price{
    font-weight: 700;
}

.tipo-menu{
    background-color: yellow;
    width: 200px;
    height: 30px;
    border-radius: 10px;
    box-shadow: 1px 0px 10px black;
    position: absolute;
    top: 223px;
    text-align: center;
}
.carta{
    float: left;
}
.menu-contenerdo{
    transform: rotate(-5deg);
    margin: 100px;
    display: flex;
    justify-content: center;
    box-shadow: 1px 0px 100px black;
}
